n8n backups/Check-in Dezembro Vermelho 2025 v2.9-FIXED-INDEXING.json
{
  "name": "Check-in Dezembro Vermelho 2025 v2.9",
  "nodes": [
    {
      "parameters": {
        "path": "checkin-dv-2025",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8162d79b-d85f-40df-baf7-533d566e634a",
      "name": "Webhook - Check-in DV 2025",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        128,
        -96
      ],
      "webhookId": "checkin-dv-2025"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "ticket_id",
              "value": "={{$node['Webhook - Check-in DV 2025'].first().json.query.id}}",
              "type": "string"
            },
            {
              "name": "auth",
              "value": "={{$node['Webhook - Check-in DV 2025'].first().json.query.auth}}",
              "type": "string"
            },
            {
              "name": "staffName",
              "value": "={{decodeURIComponent($node['Webhook - Check-in DV 2025'].first().json.query.staffName || 'Admin')}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2fefc54b-6996-4f2a-8a3b-ac3ecc039577",
      "name": "Set ticket ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8",
          "mode": "list",
          "cachedResultName": "Atividades Dezembro Vermelho 2025"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=1591168124",
          "mode": "list",
          "cachedResultName": "Scanner_Access"
        },
        "returnAll": true
      },
      "id": "get-scanner-access",
      "name": "Get Scanner Access",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        336,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WSZ795WWPpb0wrPI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 🔐 Dynamic Authorization from Scanner_Access sheet\nconst ticketId = $('Set ticket ID').first().json.ticket_id;\nconst auth = $('Set ticket ID').first().json.auth;\nconst staffName = $('Set ticket ID').first().json.staffName || 'Admin';\n\n// Get all staff from Scanner_Access sheet - EXPLICIT REFERENCE\nconst staffSheet = $('Get Scanner Access').all();\n\nconsole.log('📋 Total staff rows from Scanner_Access:', staffSheet.length);\nconsole.log('📋 Staff data:', staffSheet.map(r => ({ pin: r.json.pin, active: r.json.active, name: r.json.staff_name })));\n\n// Build list of authorized PINs from active staff\nconst authorizedPins = staffSheet\n  .filter(row => {\n    const active = row.json.active;\n    // Handle both boolean true and string \"TRUE\"\n    return active === true || active === 'TRUE' || active === 'true';\n  })\n  .map(row => String(row.json.pin).trim());\n\nconsole.log('✅ Authorized PINs from Scanner_Access:', authorizedPins);\nconsole.log('🔍 Checking PIN:', auth);\n\nif (!ticketId) {\n  return [{ json: { error: true, message: 'Ticket ID ausente no QR Code.' } }];\n}\n\nif (!auth || !authorizedPins.includes(auth.trim())) {\n  console.log('❌ PIN not authorized:', auth);\n  return [{ json: { error: true, unauthorized: true, message: 'Acesso não autorizado.' } }];\n}\n\nconsole.log('✅ PIN authorized:', auth);\n\n// Authorized → continue workflow\nreturn [{\n  json: {\n    ticket_id: ticketId,\n    authorizedBy: auth.trim(),\n    staffName: staffName,\n    authorized: true\n  }\n}];"
      },
      "id": "8adff8bd-4ae5-41a8-b1ef-087bba45c2bc",
      "name": "Check Authorization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -96
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.unauthorized}}",
              "value2": true
            }
          ]
        }
      },
      "id": "809c8b96-253e-4406-aaff-144e7bd1f275",
      "name": "Unauthorized?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        832,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": true, \"unauthorized\": true, \"message\": \"🚫 Acesso não autorizado\" } }}",
        "options": {
          "responseCode": 403
        }
      },
      "id": "f85f9008-468e-45ea-8bab-3f2381b27623",
      "name": "Responder Acesso Negado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1040,
        -176
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8",
          "mode": "list",
          "cachedResultName": "Atividades Dezembro Vermelho 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inscricoes_DezembroVermelho",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ticket_id",
              "lookupValue": "={{$json.ticket_id}}"
            }
          ]
        },
        "options": {
          "returnAllMatches": "returnFirstMatch"
        }
      },
      "id": "10cdfd9f-054d-4f7d-aeae-ff98b957f906",
      "name": "Buscar Inscrição",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        1040,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WSZ795WWPpb0wrPI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$items().length}}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "e4d40bb6-9d11-4ff6-bda4-525822edb3ee",
      "name": "Registro Encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1312,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"error\": true, \"notFound\": true, \"message\": \"⚠️ Ingresso não encontrado\", \"ticket_id\": $node[\"Set ticket ID\"].json.ticket_id } }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "c0792017-fb36-486a-bbef-091ba42bfab0",
      "name": "Responder Ingresso Não Encontrado",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1520,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// 🧠 Deduplication Guard\nconst reg = $json;\nif (reg.checkin_timestamp && reg.checkin_timestamp.trim() !== '') {\n  return [{ json: { alreadyChecked: true, ...reg } }];\n}\nreturn [{ json: { alreadyChecked: false, ...reg } }];"
      },
      "id": "af57adc2-0422-49ff-ad42-6b4dda84f6ff",
      "name": "Check Already Checked-in?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.alreadyChecked}}",
              "value2": true
            }
          ]
        }
      },
      "id": "30c7fc2a-d073-4ef6-8fa6-e77606f53459",
      "name": "Já Realizou Check-in?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1744,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"alreadyChecked\": true, \"message\": \"⚠️ Participante já realizou check-in\", \"nome_completo\": $json.nome_completo, \"email\": $json.email, \"cpf\": $json.cpf, \"atividade_nome\": $json.atividade_nome, \"ticket_id\": $json.ticket_id, \"checkin_timestamp\": $json.checkin_timestamp, \"checked_by\": $json.checked_by } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e4bd0fbc-c5df-4bc8-85d0-8b70b41f5b88",
      "name": "Responder Já Check-in",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1968,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "// ✅ Prepare new check-in update with UTC-3 timezone\nconst options = { timeZone: 'America/Sao_Paulo', hour12: false };\nconst now = new Date().toLocaleString('pt-BR', options);\nconst staffName = $node['Check Authorization'].json.staffName || 'Admin';\n\nreturn [\n  {\n    json: {\n      ticket_id: $json.ticket_id,\n      nome_completo: $json.nome_completo,\n      email: $json.email,\n      cpf: $json.cpf,\n      atividade_nome: $json.atividade_nome,\n      status: $json.status,\n      checkin_timestamp: now,\n      checked_by: staffName\n    }\n  }\n];"
      },
      "id": "86355980-9862-42f0-ad6f-e27700adcc1c",
      "name": "Preparar Atualização",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        256
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8",
          "mode": "list",
          "cachedResultName": "Atividades Dezembro Vermelho 2025",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inscricoes_DezembroVermelho",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XYJ4S_shpoQ5o7Psth-h4p-XZI48Kypy6a21k2ayYJ8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "checkin_timestamp": "={{$json.checkin_timestamp}}",
            "checked_by": "={{$json.checked_by}}",
            "ticket_id": "={{$json.ticket_id}}"
          },
          "matchingColumns": [
            "ticket_id"
          ],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticket_id",
              "displayName": "ticket_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nome_completo",
              "displayName": "nome_completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cpf",
              "displayName": "cpf",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atividade_id",
              "displayName": "atividade_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atividade_nome",
              "displayName": "atividade_nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "qr_code_url",
              "displayName": "qr_code_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "checkin_timestamp",
              "displayName": "checkin_timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "checked_by",
              "displayName": "checked_by",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "517cafb7-ee65-473c-889d-38abb2470f21",
      "name": "Atualizar Check-in",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [
        2192,
        256
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WSZ795WWPpb0wrPI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"checked_in\": true, \"message\": \"✅ Check-in confirmado\", \"nome_completo\": $json.nome_completo, \"email\": $json.email, \"cpf\": $json.cpf, \"atividade_nome\": $json.atividade_nome, \"ticket_id\": $json.ticket_id, \"status\": $json.status, \"checkin_timestamp\": $json.checkin_timestamp, \"checked_by\": $json.checked_by } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "62ffc6e7-9e6c-4cae-89cf-2155224980cc",
      "name": "Responder Check-in OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2400,
        256
      ]
    }
  ],
  "connections": {
    "Webhook - Check-in DV 2025": {
      "main": [
        [
          {
            "node": "Get Scanner Access",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Scanner Access": {
      "main": [
        [
          {
            "node": "Set ticket ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ticket ID": {
      "main": [
        [
          {
            "node": "Check Authorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Authorization": {
      "main": [
        [
          {
            "node": "Unauthorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unauthorized?": {
      "main": [
        [
          {
            "node": "Responder Acesso Negado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar Inscrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Inscrição": {
      "main": [
        [
          {
            "node": "Registro Encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registro Encontrado?": {
      "main": [
        [
          {
            "node": "Check Already Checked-in?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Ingresso Não Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Already Checked-in?": {
      "main": [
        [
          {
            "node": "Já Realizou Check-in?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já Realizou Check-in?": {
      "main": [
        [
          {
            "node": "Responder Já Check-in",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Atualização",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Atualização": {
      "main": [
        [
          {
            "node": "Atualizar Check-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Check-in": {
      "main": [
        [
          {
            "node": "Responder Check-in OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "76a572fa0d7eb4ee792610107ff82422b94c615a9137e8ea064722e606b4ca88"
  }
}